<style>
td { 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  padding: 10px;
}
.mock-responses { width: 100%; table-layout: fixed; padding:}
.mock-responses .header { background: #ccc }
.mock-responses .collapse { width: 10px; }
.mock-responses .id-name { width: 200px; }
.mock-responses .active { width: 2em; }
.mock-responses .method { width: 3em; }
.mock-responses .payload { width: 5em; }
.mock-responses .status { width: 45px; }
.mock-responses .delay_sec { width: 45px; }
.mock-responses .content_type { width: 100px; }
.mock-responses .url { width: 320px; }
.mock-responses .actions { width: 60px; }
.mock-responses { padding: 12px 0; }
.mock-responses .group .mock-response:not(:first-child) .expand.icon,
.mock-responses .group.count-1 .mock-response .expand.icon,
.mock-responses .group:not(.expanded) .mock-response:not(:first-child) {
  display: none;
}
.mock-responses .group .mock-response:first-child {
  background: #eee; border: 1px outset #eee;
}
.actionIcons {
  display: flex;
  justify-content: space-around;
  padding: 0px;
}
.collapse, .active { text-align: center; }
.header { font-weight: bold; }

</style>

<h2> Mock Responses </h2>

<input class="mock-response-search public" size="40" 
   placeholder="Type to search mock responses" 
   onchange="fireEvent(event, 'list-mock-responses', this.value)">
<button title="create a new mock response" onclick="fireEvent(event, 'new-mock-response', '')">+</button>

<table class="mock-responses">
  <thead>
    <tr class="header">
      <td class="collapse"></td>
      <td class="id-name">(id) Name</td>
      <td class="method">Method</td>
      <td class="url">URL</td>
      <td class="actions">Actions</td>
      <td class="active" title="active"></td>
      <td class="payload">Payload</td>
      <td class="status">Status</td>
      <td class="delay_sec">Delay Sec</td>
      <td class="content_type">Content Type</td>
      {{!-- <td class="body">body</td> --}}
    </tr>
  <thead>
    {{#each grouped}}
    <tbody class="group count-{{this.count}}">
      <!-- {{@key}} {{this.count}} {{this.updated_at}} -->
      {{#each this.data}}
      <tr class="mock-response">
        <td class="collapse">
          <button class="expand icon" onclick="this.closest('.group').classList.toggle('expanded')">
            <i class="fas fa-angle-up"></i>
          </button>
        </td>
        <td class="id-name">({{this.id}}) {{this.name}}</td>
        <td class="method">{{this.req_method}}</td>
        <td class="url">{{this.req_url}}</td>
        <td>
        {{#if this.active}}
        <div class="actionIcons">
          <button class="icon" onclick="fireEvent(event, 'play-mock-response', {{this.id}})">
            <i class="fas fa-play" title="run it"></i>
          </button>&nbsp;
          <button class="icon" onclick="fireEvent(event, 'new-mock-response', {{this.id}})">
            <i class="fas fa-copy" title="duplicate it"></i>
          </button>&nbsp;
        {{/if}}
          <button class="icon" onclick="fireEvent(event, 'edit-mock-response', {{this.id}})">
            <i class="fas fa-edit" title="edit it"></i>
          </button>
          </div>
        </td>
        <td class="active">
          {{#if this.active}}
          <i style="color:green;">ON</i>
          {{else}}
          <i style="color:#CCC;">OFF</i>
          {{/if}}
        </td>
        <td class="payload">{{this.req_payload}}</td>
        <td class="status">{{this.res_status}}</td>
        <td class="delay_sec">{{this.res_delay_sec}}</td>
        <td class="content type">{{this.res_content_type}}</td>
        {{!-- <td class="body">{{this.res_body}}</td> --}}
      </tr>
      {{/each}}
    </tbody>
    {{/each}}
</ul>
