<style>
.mock-responses { width: 100%; table-layout: fixed;}
.mock-responses .header { background: #ccc }
.mock-responses .active { width: 40px; }
.mock-responses .method { width: 80px; }
.mock-responses .status { width: 40px; }
.mock-responses .delay_sec { width: 40px; }
.mock-responses .content_type { width: 80px; }
td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mock-responses {
  padding: 12px 0;
}
.mock-responses .list > tr:nth-child(even) {
  background: #eee;
}
</style>

<h2> Mock Responses </h2>

<input class="mock-response-search" size="40" 
   placeholder="Type to search mock responses" 
   onchange="fireEvent(event, 'list-mock-responses', this.value)">
<button title="create a new mock response" onclick="fireEvent(event, 'new-mock-response')">+</button>

<table class="mock-responses">
  <thead>
    <tr class="header">
      <td class="id">id</td>
      <td class="active">active</td>
      <td class="name">name</td>
      <td class="method">method</td>
      <td class="url">url</td>
      <td class="payload">payload</td>
      <td class="status">status</td>
      <td class="delay_sec">delay sec</td>
      <td class="content type">content type</td>
      <td class="body">body</td>
    </tr>
  <thead>
  <tbody class="list">
    {{#each mockResponses}}
      <tr class="mock-response" tabindex="0" onclick="fireEvent('', 'edit-mock-response', {{this.id}})">
        <td class="id">{{this.id}}</td>
        <td class="active">{{this.active}}</td>
        <td class="name">{{this.name}}</td>
        <td class="method">{{this.req_method}}</td>
        <td class="url">{{this.req_url}}</td>
        <td class="payload">{{this.req_payload}}</td>
        <td class="status">{{this.res_status}}</td>
        <td class="delay_sec">{{this.res_delay_sec}}</td>
        <td class="content type">{{this.res_content_type}}</td>
        <td class="body">{{this.res_body}}</td>
      </tr>
    {{/each}}
  </tbody>
</ul>
