<style>
.mock-responses { width: 100%; table-layout: fixed;}
.mock-responses .header { background: #ccc }
.mock-responses .id { width: 40px; }
.mock-responses .active { width: 40px; }
.mock-responses .name { width: 120px; }
.mock-responses .method { width: 80px; }
.mock-responses .payload { width: 120px; }
.mock-responses .status { width: 40px; }
.mock-responses .delay_sec { width: 40px; }
.mock-responses .content_type { width: 120px; }
.mock-responses .url { width: 320px; }
.mock-responses .url .icon { float: right; }
td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mock-responses {
  padding: 12px 0;
}
.mock-responses .list .group-header .group {
  padding: 0 12px;
  background: #EEE;
  border: 1px outset #EEE;
  cursor: pointer;
}
.mock-responses .list .group-header ~ .mock-response {
  display: none;
}
.mock-responses .list .group-header ~ .mock-response:nth-child(odd) {
  background: #eee;
}
.mock-responses .list .group-header.expanded ~ .mock-response {
  display: table-row;
}
</style>

<h2> Mock Responses </h2>

<input class="mock-response-search public" size="40" 
   placeholder="Type to search mock responses" 
   onchange="fireEvent(event, 'list-mock-responses', this.value)">
<button title="create a new mock response" onclick="fireEvent(event, 'new-mock-response')">+</button>

<table class="mock-responses">
  <thead>
    <tr class="header">
      <td class="id">id</td>
      <td class="active">active</td>
      <td class="name">name</td>
      <td class="method">method</td>
      <td class="url">url</td>
      <td class="payload">payload</td>
      <td class="status">status</td>
      <td class="delay_sec">delay sec</td>
      <td class="content_type">content type</td>
      <td class="body">body</td>
    </tr>
  <thead>
    {{#each grouped}}
    <tbody class="list">
      <tr class="group-header" onclick="this.classList.toggle('expanded')">
        <td class="group" colspan="10">
          {{this.count}} row(s)
          <b>{{@key}}</b> 
          <button class="create-from icon" title="create a new mock response"
            onclick="event.stopPropagation();fireEvent(event, 'new-mock-response', {{this.id}})">
            <i class="fa fa-plus"></i>
          </button>
          <sub>Update at {{this.updated_at}}</sub>
        </td>
      </tr>
      {{#each this.data}}
        <tr class="mock-response" tabindex="0" onclick="fireEvent('', 'edit-mock-response', {{this.id}})">
          <td class="id">{{this.id}}</td>
          <td class="active">{{this.active}}</td>
          <td class="name">{{this.name}}</td>
          <td class="method">{{this.req_method}}</td>
          <td class="url">
            {{#if this.active}}
            <button class="icon" onclick="event.stopPropagation();fireEvent(event, 'play-mock-response', {{this.id}})">
              <i class="fa fa-play"></i>
            </button>
            {{/if}}
            {{this.req_url}}
          </td>
          <td class="payload">{{this.req_payload}}</td>
          <td class="status">{{this.res_status}}</td>
          <td class="delay_sec">{{this.res_delay_sec}}</td>
          <td class="content type">{{this.res_content_type}}</td>
          <td class="body">{{this.res_body}}</td>
        </tr>
      {{/each}}
    </tbody>
    {{/each}}
</ul>
