<style>
td { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.mock-responses { width: 100%; table-layout: fixed;}
.mock-responses .header { background: #ccc }
.mock-responses .collapse { width: 16px; }
.mock-responses .id-name { width: 200px; }
.mock-responses .active { width: 16px; }
.mock-responses .method { width: 4em; }
.mock-responses .payload { width: 6em; }
.mock-responses .status { width: 40px; }
.mock-responses .delay_sec { width: 40px; }
.mock-responses .content_type { width: 120px; }
.mock-responses .url { width: 320px; }
.mock-responses .actions { width: 60px; }
.mock-responses { padding: 12px 0; }
.mock-responses .group .mock-response:not(:first-child) .expand.icon,
.mock-responses .group.count-1 .mock-response .expand.icon,
.mock-responses .group:not(.expanded) .mock-response:not(:first-child) {
  display: none;
}
.mock-responses .group .mock-response:first-child {
  background: #eee; border: 1px outset #eee;
}
</style>

<h2> Mock Responses </h2>

<input class="mock-response-search public" size="40" 
   placeholder="Type to search mock responses" 
   onchange="fireEvent(event, 'list-mock-responses', this.value)">
<button title="create a new mock response" onclick="fireEvent(event, 'new-mock-response')">+</button>

<table class="mock-responses">
  <thead>
    <tr class="header">
      <td class="collapse"></td>
      <td class="id-name">(id)name</td>
      <td class="active" title="active"></td>
      <td class="method">method</td>
      <td class="url">url</td>
      <td class="payload">payload</td>
      <td class="status">status</td>
      <td class="delay_sec">delay sec</td>
      <td class="content_type">content type</td>
      <td class="body">body</td>
      <td class="actions">actions</td>
    </tr>
  <thead>
    {{#each grouped}}
    <tbody class="group count-{{this.count}}">
      <!-- {{@key}} {{this.count}} {{this.updated_at}} -->
      {{#each this.data}}
      <tr class="mock-response">
        <td class="collapse">
          <button class="expand icon" onclick="this.closest('.group').classList.toggle('expanded')">
            <i class="fas fa-angle-up"></i>
          </button>
        </td>
        <td class="id-name">({{this.id}}) {{this.name}}</td>
        <td class="active">{{this.active}}</td>
        <td class="method">{{this.req_method}}</td>
        <td class="url">{{this.req_url}}</td>
        <td class="payload">{{this.req_payload}}</td>
        <td class="status">{{this.res_status}}</td>
        <td class="delay_sec">{{this.res_delay_sec}}</td>
        <td class="content type">{{this.res_content_type}}</td>
        <td class="body">{{this.res_body}}</td>
        <td>
        {{#if this.active}}
          <button class="icon" onclick="fireEvent(event, 'play-mock-response', {{this.id}})">
            <i class="fas fa-play" title="run it"></i>
          </button>
          <button class="icon" onclick="fireEvent(event, 'new-mock-response', {{this.id}})">
            <i class="fas fa-copy" title="duplicate it"></i>
          </button>
        {{/if}}
          <button class="icon" onclick="fireEvent(event, 'edit-mock-response', {{this.id}})">
            <i class="fas fa-edit" title="edit it"></i>
          </button>
        </td>
      </tr>
      {{/each}}
    </tbody>
    {{/each}}
</ul>
