<script>
function getFormData() {
  const inputEls = document.querySelectorAll('.mock-response [id]');
  const data = Array.from(inputEls).reduce( (acc, el) => {
      acc[el.id] = el.value;
      return acc;
    }, {})
  data.active = document.querySelector('.mock-response [id=active]').checked ? 1 : 0;
  return data;
}

function beautifyJSON() {
  const textArea = document.getElementById("res_body");
  textArea.value = JSON.stringify(JSON.parse(textArea.value), null, 2);
  textArea.style.height = textArea.scrollHeight + "px";
}

</script>
<style>
.mock-response.form .column  { padding: 4px 0; }
.mock-response.form .column label { display: inline-block; width: 100px; }
.mock-response.form .column #name { width: 400px; }
.mock-response.form .column #req_method { width: 6em; }
.mock-response.form .column #req_url { width: 400px; }
.mock-response.form .column #req_payload { width: 400px; }
.mock-response.form .column #res_status { width: 6em; }
.mock-response.form .column #res_delay_sec { width: 6em; }
.mock-response.form .column #res_body { width: calc(100% - 100px - 12px); resize: vertical; }
.request-group, .response-group {
  margin: 12px 0;
  border: 1px solid #ccc;
}
.beautify-button { float: right; margin-right: 10px; color: blue; }
</style>

<h3>
  {{#if mockResponse.id}} Update {{else}} Create {{/if}} Mock Response
</h3>

<div class="mock-response form">
  <input type="hidden" id="id" value="{{mockResponse.id}}">

  {{#if mockResponse.id}}
  <div class="id column">
    <label for="id">Id</label>
    <input id="id" readonly value="{{mockResponse.id}}" />
  </div>
  {{/if}}

  <div class="name column">
    <label for="name">Name</label>
    <input id="name" required value="{{mockResponse.name}}" />
  </div>

  <div class="active column">
    <label for="active">Active</label>
    {{#if mockResponse.active}}
      <input id="active" type="checkbox" value="1" checked="checked" />
    {{else}}
      <input id="active" type="checkbox" value="1"/>
    {{/if}}
  </div>

  <fieldset class="request-group">
    <legend> Request </legend>

    <div class="req_method column">
      <label for="req_method">Method</label>
      <input id="req_method" pattern="^(GET|POST|DELETE|PUT|OPTIONS)?$" value="{{mockResponse.req_method}}" />
    </div>

    <div class="req_url column">
      <label for="req_url">Url</label>
      <input id="req_url" required value="{{mockResponse.req_url}}" />
    </div>

    <div class="req_url column">
      <label for="req_payload">Payload</label>
      <input id="req_payload" pattern="^(\S+,\s?)*\S+$" value="{{mockResponse.req_payload}}" />
    </div>
  </fieldset>

  <fieldset class="response-group">
    <legend> Response </legend>

    <div class="res_status column">
      <label for="res_status">Status Code</label>
      <input id="res_status" pattern="^\d{3}$" value="{{mockResponse.res_status}}" />
    </div>

    <div class="res_delay_sec column">
      <label for="res_delay_sec">Delay Time</label>
      <input id="res_delay_sec" required pattern="^\d{1}$" value="{{mockResponse.res_delay_sec}}" />
    </div>

    <div class="res_content_type column">
      <label for="res_content_type">Content Type</label>
      <input id="res_content_type" pattern="^\S+\/\S+$" value="{{mockResponse.res_content_type}}" />
      <a class="beautify-button" onclick="beautifyJSON()">Beautify JSON</a>
    </div>

    <div class="res_body column">
      <label for="res_body">Body</label>
      <textarea id="res_body" required>{{mockResponse.res_body}}</textarea>
    </div>
  </fieldset>

  {{#if mockResponse.id}}
    <button onclick="fireEvent(event, 'update-mock-response', getFormData())">
      <i class="fas fa-edit"></i>
      Update Mock Response 
    </button>
    <button onclick="fireEvent(event, 'delete-mock-response', {{mockResponse.id}})">
      <i class="fas fa-trash-alt"></i>
      Delete Mock Resoponse
    </button>
  {{else}}
    <button onclick="fireEvent(event, 'create-mock-response', getFormData())">
      <i class="fas fa-plus-circle"></i>
      Create Mock Response 
    </button>
  {{/if}}
</div> 
 <script>autoGrow(document.querySelector('.mock-response.form #res_body'));</script>
