<style>
.mock-responses .left .desc {  height: 44px; padding: 4px; }
.mock-responses .middle { width: 24px; text-align: center; font-size: 2em; padding-top: 80px; }
.mock-responses .right .search { padding: 8px 0; text-align: right; }
.mock-responses .right .list { max-height: 300px; overflow: auto;}
.mock-responses .row > * {display: inline-block}
.mock-responses .row * { overflow-wrap: break-word;}
.mock-responses .row.header > * { background: #CCC; padding: 4px;}
.mock-responses .row.mock-response:nth-child(even) { background: #EEE;}
.mock-responses .row .id { width: 48px; }
.mock-responses .row .name {  width: 120px;  }
.mock-responses .row .req_method { width: 80px;}
.mock-responses .row .req_url { width: 240px; }
.mock-responses .row .action { width: 1em; }
.mock-responses .row button { background: none; border: none; cursor: pointer; padding: 0; color: blue; }

.use-case.form .column  { padding: 4px 0; }
.use-case.form .column label { display: inline-block; width: 100px; }
</style>
<h3>
  {{#if useCase.id}} Update Use Case {{else}} Create Use Case {{/if}}
</h3>

<div class="use-case form">
  {{#if useCase.id}}
  <div class="id column">
    <label for="id">Id</label>
    <input id="id" readonly value="{{useCase.id}}" />
  </div>
  {{/if}}

  <div class="name column">
    <label for="name">Name *</label>
    <input id="name" size="40" value="{{useCase.name}}" />
  </div>

  <div class="description column">
    <label for="description">Description *</label>
    <input id="description" size="80" value="{{useCase.description}}" />
  </div>

  <h4 class="list">
    Use Cases
    <input type="xhidden" id="use_cases" 
      value="{{useCase.use_cases}}"
      onchange="document.querySelector('#use-cases-list').setAttribute('src','/use-cases/index?ids='+this.value);"/>
    <i class="fas fa-search for-list" onclick="openSearchUseCasesDialog({{useCase.id}})"></i>
    <i class="fas fa-ban for-list" onclick="fireEvent(event, 'clear-use-case')"></i>
  </h4>
  <hce-routes id="use-cases-list" class="list" src="/use-cases/index?ids={{useCase.use_cases}}">
  </hce-routes>

  <h4>
    Mock Responses
    <input type="xhidden" size="40" id="mock_responses"
      value="{{useCase.mock_responses}}"
      onchange="document.querySelector('#mock-responses-list').setAttribute('src','/mock-responses/index?ids='+this.value);"
    />
    <i class="fas fa-search for-list" onclick="openSearchMockResponsesDialog()"></i>
    <i class="fas fa-ban for-list" onclick="fireEvent(event, 'clear-mock-response')"></i>
  </h4>
  <hce-routes id="mock-responses-list" class="list" src="/mock-responses/index?ids={{useCase.mock_responses}}">
  </hce-routes>

  <br/>
  <div class="buttons for-edit">
    {{#if useCase.id}}
      <button onclick="fireEvent(event, 'update-use-case', getFormData())">
        <i class="fas fa-edit"></i>
        Update
      </button>
      <a class="button" href="#/use-cases/new?from={{useCase.id}}">
        Duplicate
      </a>
      <button onclick="fireEvent(event, 'delete-use-case', {{useCase.id}})">
        <i class="fas fa-trash-alt"></i>
        Delete 
      </button>
    {{else}}
      <button onclick="fireEvent(event, 'create-use-case', getFormData())">
        <i class="fas fa-plus-circle"></i>
        Create 
      </button>
    {{/if}}
  </div>
</div>

